---
layout: default
title: Home
---
<section class = "bg-robin_gray flex flex-col md:flex-row py-8 sm:py-16 w-full gap-4 md:gap-10 lg:gap-20 items-start justify-center px-4 sm:px-10 overflow-hidden"> 
	<div class="sm:max-w-xl sm:w-1/3 md:w-1/2 mx-auto md:mx-0">
		<lottie-player src="{{ site.baseurl }}/assets/images/tea_mini.json" background="transparent"  speed="1" loop autoplay></lottie-player>
	</div>
	<div class="flex flex-col gap-10 w-full md:w-1/2 xl:w-1/3">
		<div class="w-full leading-snug flex flex-col gap-4">
		<h1 class="text-4xl md:text-5xl mt-4 text-electric_purple">
			Hello, I’m Jiaying
		</h1>

		<p>
			10 years ago while pursuing an engineering degree, I decided I wanted to be a designer because:
		</p>
			<ol class="list-decimal list-inside	ml-2">
				<li> I liked art </li>
				<li> I wanted to problem solve directly with people </li>

			</ol>
		<p>
			While my understanding of UX design has evolved a lot over the years, these two ideas still guide my approch to creating meaningful, user-centered experiences.
		</p>
		</div>
		<div class="flex flex-row flex-wrap gap-4">
			<a href="{{ site.baseurl }}/assets/images/resume.pdf" class="button hover:-translate-y-2 hover:shadow-md duration-200"  target="_blank">Resume</a>
			<a href="https://www.linkedin.com/in/jiayingwei/" target="_blank" class="button hover:-translate-y-2 hover:shadow-md duration-200">LinkedIn</a>
			<a href="mailto:jywei02@gmail.com" target="_blank" class="button hover:-translate-y-2 hover:shadow-md duration-200">Email</a>
		</div>
	</div>
</section>

<section class = "pt-16 pb-32 w-full bg-white bg-opacity-50 flex flex-col items-center"> 
	<div class = "flex flex-col gap-16">

		<h1 class="text-center text-electric_purple">Portfolio Projects</h1>

		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-4 gap-y-10 lg:gap-x-10 lg:gap-y-20 mx-4 lg:mx-10 max-w-screen-xl">

		<!-- testing -->
		{% for project in site.data.portfolio %}
		<a class = "bg-white flex flex-col shadow-xl transition duration-200 transform sm:hover:scale-110 rounded-3xl overflow-hidden"
			href="{{ site.baseurl }}/portfolio/{{project.last.url}}">
			<img src="{{ site.baseurl }}/assets/images/{{project.last.thumbnail}}">
			<div class = "flex flex-col p-6 gap-1">
				<div class="flex flex-row flex-wrap gap-2 text-sm font-serif ">
					{% for tag in project.last.tags %}
						<p class="text-electric_purple bg-robin_gray rounded-sm px-2">{{ tag }}</p>
					{% endfor %}
				</div> 
				<h2>{{project.last.title}}</h2>
				<p>
					{{project.last.description}}
				</p>
			</div>
		</a>
		{% endfor %}

	</div>
</section>

<section class = "py-16 w-full flex flex-col items-center max-w-screen-lg hidden"> 
	<div class = "flex flex-col gap-16">
		
		<h2 class="text-center"> Passionate Pursuits</h2>

		<div class="grid grid-cols-1 md:grid-cols-2 gap-x-4 gap-y-10 lg:gap-10 mx-4 lg:mx-10">
		<!-- passionate pursuit -->
			<div class = "bg-gray-100 flex flex-col">
				<img src="{{ site.baseurl }}/assets/images/pp_go.jpg">
				<div class = "flex flex-col p-4">
					<h3>Journey to 1-Dan</h3>
					<p>
						My love for the boardgame Go started as a kid with a little-known manga called Hikaru no Go. Since learning the game in college, I’ve been on again & off again with the Covid-19 pandemic rekindling my Go bug. My goal is to achieve 1-Dan by 2025. Follow my journey on <a href="https://online-go.com/player/777194/" target="_blank">OGS</a>.
					</p>
				</div>
			</div>
		
		<!-- passionate pursuit -->
			<div class = "bg-gray-100 flex flex-col ">
				<img src="{{ site.baseurl }}/assets/images/pp_spanish.jpg">
				<div class = "flex flex-col p-4">
					<h3>Holá, estoy aprendiendo Español</h3>
					<p>
						After spending the last few years studying Japanese, I am finally ready to take on a new language. Learning Spanish opens so many doors for travel and I’m excited to have begun this journey. Follow my progress on <a href ="https://www.duolingo.com/profile/Jiaying33948" target="_blank">Duolingo</a>.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

