---
layout: default
title: Home
---
<script src="{{ site.baseurl }}/assets/js/homepage.js"></script>
<div class="spotlight-wrapper">
<section class = "bg-baby_blue flex justify-center"> 
	<div class="max-w-screen-xl flex flex-col md:flex-row py-8 sm:py-16 w-full gap-4 md:gap-10 lg:gap-20 items-start justify-center px-4 sm:px-10 overflow-hidden">
		<div class="sm:w-1/3 mx-auto md:mx-0 md:h-75vh z-30">
			<lottie-player src="{{ site.baseurl }}/assets/images/tea_mini.json" background="transparent"  speed="1" loop autoplay></lottie-player>
		</div>
		<div class="flex flex-col gap-10 w-full sm:w-2/3 z-30">
			<div class="w-full leading-snug flex flex-col gap-4 text-electric_purple text-xl">
			<h1 class="text-4xl md:text-5xl mt-4 ">
				Hello, I’m Jiaying
			</h1>
			<p>
				I’m a <strong>practical product designer</strong> who can balance <strong>customer, business & engineering needs.</strong> I strive to be a critical thinker who can investigate problems independently, but also work collaboratively across departments.
			</p>
			<p>
				I am extremely <strong>detail oriented</strong> in every part of my work, ranging from documenting designs, to writing tickets, to facilitating meetings. As a teammate I pride myself as someone who works to unblock others. 
			</p>

			<ul class="list-disc list-inside">
				<li>
					<strong>8 years</strong> of experience as a UX designer
				</li>
				<li>
					Experience designing for <strong>responsive web & mobile apps</strong>
				</li>
				<li>
					Experience with <strong>front-end development</strong>
				</li>
				<li>
					<strong>Worked in:</strong> E-commerce, Recommerce, IoT Apps, & Fitness tech
				</li>
			</ul>

			<p>
				<strong>Professional interests I want to explore more of:</strong>
			</p>

			<ul class="list-disc list-inside">
				<li>
					Front-end prototyping
				</li>
				<li>
					Design systems
				</li>
			</ul>

		</div>
		</div>
	</div>
</section>

<section id = "portfolio" class = "pt-16 pb-32 w-full flex flex-col gap-16 z-30 items-center bg-gradient-to-b from-grad_purple to-grad_blue"> 

		<h1 class="text-center text-electric_purple">Portfolio Projects</h1>

		<div class="max-w-screen-xl grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-x-4 gap-y-10 lg:gap-x-10 lg:gap-y-20 mx-4 lg:mx-10">

		<!-- testing -->
			{% for project in site.data.portfolio %}
			<a class = "bg-white bg-opacity-50 flex flex-col md:flex-row shadow-xl transition duration-200 transform sm:hover:scale-110 rounded-3xl overflow-hidden"
				href="{{ site.baseurl }}/portfolio/{{project.last.url}}">
				<div class="flex flex-1">
					<img src="{{ site.baseurl }}/assets/images/{{project.last.thumbnail}}" >
				</div>
				<div class = "flex sm:w-1/3 flex-col p-5 md:p-10 gap-2">
					
					<h2 class = "text-3xl" >{{project.last.title}}</h2>
					<p>
						{{project.last.description}}
					</p>
					<div class="flex flex-row flex-wrap gap-2 text-sm font-serif ">
						{% for tag in project.last.tags %}
							<p class="text-electric_purple bg-white rounded-sm px-2">{{ tag }}</p>
						{% endfor %}
					</div> 
				</div>
			</a>
			{% endfor %}
		</div>
</section>

<section class = "py-16 w-full flex flex-col items-center bg-passion_purple text-lavender"> 
	<div class = "flex flex-col gap-16">
		
		<h1 class="text-center text-white"> Get to know me</h1>

		<div class="grid grid-cols-1 md:grid-cols-2 gap-x-4 gap-y-10 lg:gap-x-16 mx-4 lg:mx-10">
		<!-- passionate pursuit -->
			<div class = "flex flex-col gap-6">
				<img src="{{ site.baseurl }}/assets/images/pp_go.jpg" class="rounded-3xl">
				<p>
					I am an organizer for my local go club. I maintain our website and direct annual tournaments. Visit our website at <a href="http://www.eastbaygo.org" target="_blank">www.eastbaygo.org</a>.
				</p>
			</div>
		
		<!-- passionate pursuit -->
			<div class = "flex flex-col gap-6">
				<img src="{{ site.baseurl }}/assets/images/pp_go.jpg" class="rounded-3xl">
				<p>
					I love sewing and knitting. Almost half of my wardrobe is made entirely by me. Click to see examples
				</p>
			</div>
	</div>
</section>
</div>
