<div id = "header" class="bg-robin_gray text-electric_purple px-4 fixed w-full md:px-10 top-0 h-16 z-50 flex flex-row items-center">
    
    <a href = "/" class="text-3xl sm:text-4xl font-bold">Jiaying Wei</a>
    
    <ul class="flex flex-row flex-1 md:gap-x-10 gap-x-4 justify-end">
        <li>
            <a href = "/" class="hover:underline sm:block hidden text-lg">Home</a>
        </li>
        <li>
            <a href = "{{ site.baseurl }}/assets/images/resume.pdf"  target="_blank" class="hover:underline text-lg">Resume</a>
        </li>
    </ul>
</div>