---
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Write your styles below this line. */
@layer base {
    h1 {
      @apply text-4xl font-bold;
    }

    h2 {
      @apply text-3xl font-semibold;
    }
    h3{
      @apply text-xl font-semibold;
    }
    p, li{
      @apply text-lg font-normal leading-relaxed;
    }

    #portfolio > p, #portfolio > img{
        @apply my-4 ;
      }

    #portfolio > ol > li, #portfolio > ul > li {
        @apply my-1 ;
    }

    #portfolio > h1, #portfolio > h2, #portfolio > h3{
      @apply mt-8 leading-snug;
    }

    #portfolio > ol{
      @apply list-decimal ml-6;
    }

    #portfolio > ul{
      @apply list-disc ml-6;
    }

    p a{
        text-decoration: underline;
    }

    p a:hover{
        @apply text-red-600;
    }

    .button{
        @apply text-base px-5 h-10 rounded inline-flex justify-center items-center cursor-pointer bg-white tracking-wide text-electric_purple font-bold transform; 
    }

    html {
      font-family: Manrope, system-ui, sans-serif;
      scroll-padding-top: 5rem;
    }  

    @font-face {
      font-family: "Manrope";
      font-weight: 1 999;
      src: url("../fonts/Manrope-VariableFont_wght.ttf");
      font-display: swap;
    }

    @font-face {
      font-family: "PTMono";
      font-weight: 400;
      src: url("../fonts/PTMono-Regular.ttf");
      font-display: swap;
    }

}

/* Write your styles above this line. */

